<!DOCTYPE html>
<html lang="en-US" ng-app="todoApp">
  <head>

  </head>
  <body>

    <div class="container" ng-controller="TodoController as todoCtrl">
      <h1>To Do for Swap</h1>
      <form>
        <label>Name of Task</label><input type="text" ng-model="todoCtrl.newTask.name"/>
        <label>Date Due</label><input type="text" ng-model="todoCtrl.newTask.due"/>
        <label>Description</label><input type="text" ng-model="todoCtrl.newTask.desc"/>
        <button ng-click="todoCtrl.addNewTask()">Add Task</button>
      </form>
      <table>
        <thead>
          <tr>
            <th>Task Name</th>
            <th>Task Description</th>
            <th>Task Due Date</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="task in todoCtrl.tasks">
            <td>{{task.name}}</td>
            <td>{{task.desc}}</td>
            <td>{{task.due}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>